/* .cvCard {
  border: 1px solid #dbdada;
  transition: border-color 0.3s linear;
}

.cvCard:hover {
  border-color: #b3b3b3;
  box-shadow: #bac6da49 6px 10px 10px;
}

.cvNewCard {
  border-radius: 12;
  border: 1px solid #dbdada;
  transition: border-color 0.3s linear;
}

.cvNewCard:hover {
  border-color: #b3b3b3;
  box-shadow: #bac6da49 6px 10px 10px;
} */