# Cấu hình chung
NODE_ENV=production
RESTART_POLICY=unless-stopped

# Cấu hình ports
SERVER_PORT=5138
CLIENT_PORT=3000

# URLs
CLIENT_URL=http://localhost:3000
NEXT_PUBLIC_API=http://localhost:5138

# Tên volume
UPLOADS_VOLUME_NAME=icv_uploads

# Môi trường ASP.NET Core
ASPNETCORE_ENVIRONMENT=Production

# JWT Configuration
JWT_KEY=your_jwt_key_here
JWT_ISSUER=your_issuer_here
JWT_AUDIENCE=your_audience_here

# Google Authentication
GOOGLE_CLIENT_ID=your_client_id_here
GOOGLE_CLIENT_SECRET=your_client_secret_here

# API Keys
GEMINI_API_KEY=your_gemini_key_here
TAVILY_API_KEY=your_tavily_key_here

# MongoDB Atlas Configuration
MONGODB_CONNECTION_STRING=mongodb+srv://username:password@your-cluster.mongodb.net/
MONGODB_DATABASE_NAME=your_db_name